<div class="container">
  <article class="post border-top">
    <div class="post-preview">
      <a href="/posts/{{id}}">
        <h2 class="post-title">{{title}}</h2>
      </a>
      <h4>Posted by: {{user.username}} on {{format_date created_at}}</h4>
      <p class="post-meta">{{post_text}}</p>
    </div>
    <div>

      <h5>{{comments.length}} {{format_plural "comment" comments.length}}</h5>
    </div>
  </article>
</div>