<article class="post">
  <div class="title">
    <a href="/posts/{{id}}">{{title}}</a>
    <h4>Posted by: {{user.username}} on {{format_date created_at}}</h4>
    <p>{{post_text}}</p>
  </div>
  <div>

    {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>
